<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
                    {{>header}}
        <img class="portrait" src="/img/ravi.jpg" alt="">
        </div>
        {{>footer}}
    </body>
</html>