<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
             <p>{{>header}}</p>
        </div>
        <p>{{>footer}}</p>
    </body>
</html>