<!DOCTYPE html>
<html>
    <head>
        <title>Weather Page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <p>Use this site to get your weather!!</p>
            <form action="">
                <input type="text" placeholder="location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>